@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Inter:wght@400;500;800&family=MuseoModerno&family=Orbitron:wght@700&family=Rajdhani:wght@400;500;600;700&family=Lato:wght@400;700&family=Roboto:wght@400;500&display=swap");
@font-face {
  font-family: "Alethia Next";
  src: url("./fonts/AlethiaNext-Light.eot");
  src: url("./fonts/AlethiaNext-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/AlethiaNext-Light.woff2") format("woff2"), url("./fonts/AlethiaNext-Light.woff") format("woff"), url("./fonts/AlethiaNext-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  /* font-display: swap; */
}
@font-face {
  font-family: "Spartan";
  src: url("./fonts/Spartan-SemiBold.eot");
  src: url("./fonts/Spartan-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/Spartan-SemiBold.woff2") format("woff2"), url("./fonts/Spartan-SemiBold.woff") format("woff"), url("./fonts/Spartan-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  /* font-display: swap; */
}
.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
  pointer-events: none;
  /* visibility: hidden; */
}

body {
  background: url("./img/bg.jpg");
  background-size: cover;
  color: #ffffff;
  font-style: normal;
}

.header {
  overflow: visible;
}
.header_scrolled {
  position: fixed !important;
  background-color: rgba(39, 39, 39, 0.9);
  z-index: 50;
}
.header_scrolled .header__wrap {
  margin-bottom: 20px;
  margin-top: 20px;
}
.header_scrolled .logo {
  font-size: 15px;
}
.header_scrolled .navigation__link {
  font-size: 15px;
}
.header__wrap {
  margin: 42px 7.03% 0px 7.116%;
}
.header__icons {
  display: contents;
  cursor: pointer;
}
.header__icon:first-child {
  margin-right: 40.9px;
  position: relative;
}
.header__icon:first-child .cart_badge {
  position: absolute;
  left: 10px;
  display: none;
}
.header__icon:first-child .cart_badge.show {
  display: initial;
}

.modal-content {
  background-color: #3f2372;
}
.modal-content .nav-link {
  color: #ffffff;
}
.modal-content .nav-link:focus,
.modal-content .nav-link:active {
  color: rgb(216, 32, 139);
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 1.256;
  color: rgba(255, 255, 255, 0.6) !important;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.logo_accent {
  color: #ffffff;
}
.logo:hover .logo_accent {
  color: #ff56f6;
}
.logo:hover {
  color: #ffffff !important;
}
.logo:hover .logo__image {
  animation: logo-rotate 1s ease-in-out;
}

.dropdown {
  display: inline-block;
}

.dropdown-menu {
  background-color: #27252e;
  color: #ffffff;
  padding: 10px;
}
.dropdown-menu .removebtn {
  position: absolute;
  right: 5px;
}
.dropdown-menu .card__item {
  margin-bottom: 20px;
}
.dropdown-menu .card__item p {
  margin-bottom: 5px;
}
.dropdown-menu .card__item:last-child {
  margin-bottom: 0px;
}

.navbar-toggler {
  max-width: 21px;
  border: none;
  padding: 1px 0px;
}

.navbar-toggler-icon {
  width: 21.71px;
  height: 2.81px;
  background-color: #ffffff;
  margin-right: 0px;
  margin-left: auto;
  margin-bottom: 5.61px;
  border-radius: 20%;
  display: flex;
  background-image: none !important;
}

.navbar-toggler-icon:nth-child(2) {
  width: 13.57px;
  height: 3px;
}

.navbar-toggler-icon:last-child {
  margin-bottom: 0;
}

.navigation__list {
  margin-left: 18.25%;
  flex-direction: row;
}
.navigation__btn {
  border: none;
}
.navigation__btn:focus, .navigation__btn:active {
  outline: none;
  box-shadow: none;
}
.navigation__item {
  margin-right: 66.33px;
}
.navigation__item:last-child {
  margin-right: 0px;
}
.navigation__link {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 1.256;
  color: rgba(255, 255, 255, 0.6);
}
.navigation__link:hover {
  color: #ff56f6 !important;
}
.navigation__link:focus {
  color: #ffffff !important;
}

.personal-card {
  padding: 27.64px 21px 17.69px 18.79px;
  position: relative;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.personal-card > div {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.personal-card > div:first-child {
  margin-right: 45px;
}
.personal-card::after {
  display: block;
  content: " ";
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 8.84367px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
  border-width: 2.8px;
  border-style: solid;
  -o-border-image: linear-gradient(140deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%) 1;
     border-image: linear-gradient(140deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%) 1;
  -webkit-backdrop-filter: blur(30.4001px);
          backdrop-filter: blur(30.4001px);
}
.personal-card__profession {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 17.6873px;
  line-height: 200%;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0px;
}
.personal-card__button {
  padding: 7.74px 8.84px 7.74px 9.95px;
  border: 8px;
}
.personal-card__button_wrap {
  padding: 2px;
  border-radius: 2px;
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(275deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
}
.personal-card__button img {
  margin-left: 9px;
}
.personal-card .person {
  display: flex;
  align-items: center;
}
.personal-card .person__avatar {
  margin-right: 4.32px;
}
.personal-card .person__nikname {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-size: 20.1601px;
  line-height: 229%;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-right: 3.32px;
  margin-bottom: 0px;
}
.personal-card .price {
  margin-top: 10px;
}
.personal-card .price__title {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-size: 11.0546px;
  line-height: 320%;
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 0px;
}
.personal-card .price__logo {
  margin-right: 7.6px;
  width: auto;
}
.personal-card .price__eth {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 9.71776px;
  color: #ffffff;
  margin-right: 5.53px;
  margin-bottom: 0px;
}
.personal-card .price__dollar {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-size: 14.0546px;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 0px;
}
.personal-card .time {
  margin-bottom: 25.95px;
}
.personal-card .time__title {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-size: 11.0546px;
  line-height: 2.5;
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 0px;
}
.personal-card .time__list {
  list-style: none;
  display: flex;
}
.personal-card .time__item {
  margin-right: 17.69px;
}
.personal-card .time__item:last-child {
  margin-right: 0px;
}
.personal-card .time__number {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-size: 17.6873px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.personal-card .time__text {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 11.0546px;
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.7;
}

.hero__col-logo {
  height: 512px;
}
.hero__wrap {
  max-width: 100%;
  margin: 0;
  padding: 116.5px 103px 0px;
}
.hero__wrap > div {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.hero__wrap > div:first-child {
  margin-right: 14.53%;
}
.hero__title {
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  font-size: 66.3276px;
  line-height: 137.4%;
  color: #ffffff;
  margin-bottom: 21px;
  width: 110.1%;
}
.hero .accent {
  background: linear-gradient(89.89deg, #42a6e3 2.33%, #ff56f6 101.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.hero__text {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-size: 26.531px;
  line-height: 1.658;
  margin-bottom: 43.11px;
}
.hero__sub-text {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 1.256;
  margin-left: 37.59px;
  margin-bottom: 0px;
}
.hero__button {
  position: relative;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 1.256;
  padding: 20px 32px 19px 67px;
  -webkit-clip-path: polygon(0 40%, 20% 0, 100% 0, 100% 60%, 85% 100%, 0 100%);
          clip-path: polygon(0 40%, 20% 0, 100% 0, 100% 60%, 85% 100%, 0 100%);
  border: none;
  background: linear-gradient(235deg, rgb(255, 86, 246) 0%, rgb(185, 54, 238) 26%, rgb(59, 172, 226) 70%, rgb(64, 106, 255) 100%) !important;
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  border-radius: 2.2px;
}
.hero__button img {
  margin-left: 11px;
}
.hero__button_wrap {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 2px;
  -webkit-clip-path: polygon(0 40%, 20% 0, 100% 0, 100% 60%, 85% 100%, 0 100%);
          clip-path: polygon(0 40%, 20% 0, 100% 0, 100% 60%, 85% 100%, 0 100%);
  border-radius: 2.2px;
  background: linear-gradient(45deg, rgb(255, 166, 250) 43%, rgb(60, 121, 212) 100%) !important;
  border: none;
}
.hero__statistic {
  margin-top: 65.54px;
  margin-bottom: 0px;
}
.hero__statistic .statistic__item:first-child {
  margin-right: 14.84px;
}
.hero__statistic .statistic__item:nth-child(2) {
  padding: 0px 21.4px 0px 40.4px;
  border-left: 1.10546px solid rgba(255, 255, 255, 0.26);
  border-right: 1.10546px solid rgba(255, 255, 255, 0.26);
}
.hero__statistic .statistic__item:last-child {
  margin-left: 46px;
}
.hero__statistic .statistic__title {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-size: 39.7965px;
  line-height: 133%;
  display: flex;
  align-items: center;
  letter-spacing: 0.221092px;
  color: #ffffff;
  margin-bottom: 0;
}
.hero__statistic .statistic__text {
  font-family: "Alethia Next", sans-serif;
  font-weight: 400;
  font-size: 17.6873px;
  line-height: 125%;
  display: flex;
  align-items: center;
  letter-spacing: 0.221092px;
  color: #ffffff;
}
.hero__image {
  border-radius: 17.6873px;
  -webkit-clip-path: polygon(0 20%, 20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
          clip-path: polygon(0 20%, 20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
}
.hero__personal-card {
  padding: 27.64px 21px 17.69px 23px;
  -webkit-clip-path: polygon(14% 0%, 70% 0%, 100% 0, 100% 100%, 0 100%, 0 25%);
          clip-path: polygon(14% 0%, 70% 0%, 100% 0, 100% 100%, 0 100%, 0 25%);
  bottom: 115px;
  right: -180px;
  border: none;
}
.hero__personal-card .price__logo {
  margin-right: 5.8px;
  width: 10px;
  height: 17px;
}
.hero__personal-card .price__dollar {
  font-size: 11px;
}
.hero__personal-card .person__nikname {
  font-size: 15.48px;
}
.hero .personal-card::after {
  background-image: url("./img/border-catd.svg");
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  box-shadow: 0px 5.76002px 139.681px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.124px);
          backdrop-filter: blur(106.124px);
  border-radius: 2.21092px;
  color: #ffffff;
}

.statistic {
  list-style: none;
  display: flex;
}

.section-top {
  margin-bottom: 47px;
}

.section-title {
  font-family: "Orbitron", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  line-height: 1.24;
  color: #ffffff;
}

.all-link {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  line-height: 1.24;
  color: #ffffff;
}
.all-link img {
  margin-left: 26.5px;
}
.all-link:hover {
  color: #ff56f6 !important;
  text-decoration: none;
}

.partners {
  margin-top: 102.39px;
  max-width: 100% !important;
}
.partners__list {
  max-width: 100%;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  display: flex;
  gap: 30px;
}
.partners__item {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0px;
}

.explore {
  font-family: "Orbitron";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  color: #ffffff;
  padding: 9px 17px 12.21px 18px;
  border-radius: 1.17972px;
  border-width: 1.18px;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background-color: #29164e;
  -webkit-clip-path: polygon(0 40%, 20% 0, 100% 0, 100% 60%, 85% 100%, 0 100%);
          clip-path: polygon(0 40%, 20% 0, 100% 0, 100% 60%, 85% 100%, 0 100%);
}
.explore_wrap {
  margin: 0px auto;
  margin-top: 40px;
  padding: 2px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: none;
  background-image: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  -webkit-clip-path: polygon(0 40%, 20% 0, 100% 0, 100% 60%, 85% 100%, 0 100%);
          clip-path: polygon(0 40%, 20% 0, 100% 0, 100% 60%, 85% 100%, 0 100%);
}
.explore img {
  margin-left: 3.5px;
  width: 27px;
}
.explore > p {
  display: contents;
}
.explore:hover {
  color: #ff56f6;
}

.top .slick-track {
  justify-content: space-between;
  display: flex;
}
.top .slick-list {
  padding: 0 0% 0 0 !important;
}
.top__wrap {
  margin: 197.52px 6% 0px 7.5%;
}
.top__list {
  list-style: none;
}
.top__item {
  max-width: 32%;
  margin-right: 22px;
}
.top__item > img {
  width: 100%;
}
.top__item:last-child {
  margin-right: 0px;
}
.top .personal-card {
  padding: 35px 27px 26px 24px;
}
.top .personal-card > div:first-child {
  margin-right: 24px;
}
.top .personal-card__profession {
  font-size: 23.0401px;
  width: 210px;
  line-height: 2;
}
.top .personal-card_nikname {
  font-size: 20.1601px;
  line-height: 2.28;
}
.top .personal-card__button {
  padding: 10px 11.52px 10px 13px;
  font-size: 23.0401px;
  line-height: 1.26;
}
.top .personal-card__button_wrap {
  padding: 2px;
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(275deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
}
.top .personal-card__button > img {
  margin-left: 13px;
}
.top .personal-card .price {
  margin-top: 13px;
}
.top .personal-card .price__title {
  font-size: 14.4001px;
  line-height: 2.19;
}
.top .personal-card .price__eth {
  font-size: 12.6587px;
  line-height: 1.26;
  margin-right: 7px;
}
.top .personal-card .price__bollar {
  font-size: 14.4001px;
  line-height: 3.19;
}
.top .personal-card .time__title {
  font-size: 14.4001px;
}
.top .personal-card .time__item {
  margin: 0px;
}
.top .personal-card .time__number {
  font-size: 23.0401px;
}
.top .personal-card .time__text {
  font-size: 14.4001px;
}

.collections__wrap {
  margin: 179.65px 9% 0px 6.81%;
}
.collections__image {
  height: 820px;
  width: 430px;
}
.collections__first-col {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-top: 49.17px;
}
.collections .tab-content {
  height: 690px;
}
.collections__list {
  list-style: none;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 110px;
}
.collections__item {
  margin-bottom: 40px;
}
.collections__item:nth-child(odd) {
  margin-right: 43px;
}
.collections .section-title {
  margin-bottom: 47px;
}
.collections .all-link {
  font-size: 19.8983px;
  line-height: 1.256;
  margin-right: 100px;
}
.collections .all-link > img {
  margin-left: 15.48px;
}
.collections .collection-button {
  padding: 33px 0;
  width: 368px;
  font-family: "Orbitron";
  font-weight: 700;
  font-size: 26.531px;
  line-height: 1.24;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  border-width: 2.8px;
  border-radius: 2.21092px;
  background: transparent;
  -o-border-image: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%) 1;
     border-image: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%) 1;
}
.collections .collection-button.active, .collections .collection-button:hover, .collections .collection-button:focus {
  color: #ffffff;
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.persons .slick-track {
  justify-content: space-between;
  display: flex;
}
.persons .slick-list {
  padding: 0 0% 0 0 !important;
}
.persons__wrap {
  margin: 250px 6.657% 0px 6.84%;
}
.persons__list {
  list-style: none;
}
.persons__item {
  max-width: 32%;
  margin-right: 35px;
  padding-top: 101.7px;
  padding-bottom: 40.9px;
  background-image: url("./img/collection_bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  border-width: 2.8px;
  border-style: solid;
  -o-border-image: linear-gradient(140deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%) 1;
     border-image: linear-gradient(140deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%) 1;
}
.persons__item::after {
  display: block;
  content: " ";
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
  -webkit-backdrop-filter: blur(39.6002px);
          backdrop-filter: blur(39.6002px);
}
.persons__item:last-child {
  margin-right: 0px;
}
.persons .person {
  text-align: center;
  font-family: "Rajdhani";
  font-style: normal;
  color: #ffffff;
}
.persons .person__photo {
  margin-bottom: 16.58px;
  margin-left: auto;
  margin-right: auto;
}
.persons .person__name {
  font-weight: 500;
  font-size: 24.3201px;
}
.persons .person__nikname {
  font-weight: 400;
  font-size: 20.1601px;
  margin-right: 1.9px !important;
  color: #ffb1ee;
}
.persons .stats {
  margin-top: 7px;
  align-items: center;
  text-align: center;
}
.persons .stats__list {
  list-style: none;
  display: flex;
}
.persons .stats__number {
  font-weight: 600;
  font-size: 31.6897px;
}
.persons .stats__text {
  font-weight: 500;
  font-size: 19.8061px;
  opacity: 0.7;
}
.persons__button {
  text-align: center;
  padding: 11px 0px;
  width: 234px;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%) 1;
     border-image: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%) 1;
}
.persons__button_wrap {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 2px;
  margin-top: 48.83px;
  background-image: linear-gradient(276deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
}

.sellers {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ffffff;
}
.sellers__wrap {
  margin: 160px 6.8% 160px;
}
.sellers .section-title_accent {
  color: #ff56f6;
  text-decoration: none;
}
.sellers .section-title_accent svg {
  margin-left: 4px;
}
.sellers .section-title_accent svg path {
  fill: #ff56f6;
}
.sellers__text {
  font-weight: 400;
  font-size: 17.6873px;
  line-height: 1.4;
  margin: 23.22px auto 0px;
  width: 506px;
}
.sellers__container {
  margin-top: 55px;
}
.sellers__list {
  gap: 25px 2.57%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.sellers__item {
  align-items: center;
  border-radius: 28.5719px;
  padding: 27px 20px 27px 29px;
  border: 2.27px solid #ffffff;
  width: 31.62%;
}
.sellers__number {
  font-weight: 500;
  font-size: 19.0479px;
  line-height: 232%;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 17.22px;
}
.sellers__avatar {
  margin-right: 13px;
}
.sellers__name {
  font-weight: 500;
  font-size: 19.0479px;
  text-align: initial;
}
.sellers__logo {
  width: 8.47px;
  height: 13.76px;
}
.sellers__count {
  font-weight: 500;
  font-size: 13.7568px;
  line-height: 321%;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 4.23px;
}
.sellers__income {
  font-weight: 500;
  font-size: 14.7012px;
  padding: 6.5px 17px;
  border-radius: 17.5283px;
}
.sellers__income_positive {
  color: #00ff66;
  background: rgba(0, 179, 71, 0.15);
}
.sellers__income_negative {
  color: #ff0000;
  background: linear-gradient(180deg, rgba(235, 20, 20, 0.15) 0%, rgba(235, 20, 20, 0.1005) 100%);
}
.sellers__button {
  margin-top: 61.9px;
  padding: 11px 74px;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 19.8983px;
  line-height: 1.256;
  text-align: center;
  color: #ffffff;
  border-width: 2.2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, rgb(255, 166, 250) 43%, rgb(60, 121, 212) 100%) 1;
     border-image: linear-gradient(45deg, rgb(255, 166, 250) 43%, rgb(60, 121, 212) 100%) 1;
}

.about {
  background-image: url("./img/about_bg.jpg");
  background-size: 100% 680px;
  background-repeat: no-repeat;
  height: 556.37px;
  position: relative;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #ffffff;
}
.about__wrap {
  position: absolute;
  top: 216px;
  right: 8.8%;
  left: auto;
  width: 577px;
  padding: 57.95px 47.39px 50.6px 71.2px;
  border-radius: 2.88322px;
  border-width: 2.8px;
  border-style: solid;
  -o-border-image: linear-gradient(235deg, rgb(97, 97, 97) 0%, rgba(255, 255, 255, 0) 100%) 1;
     border-image: linear-gradient(235deg, rgb(97, 97, 97) 0%, rgba(255, 255, 255, 0) 100%) 1;
  z-index: 10;
}
.about__wrap::before {
  display: block;
  content: " ";
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(72.8013px);
          backdrop-filter: blur(72.8013px);
  border-radius: 2.88322px;
}
.about .section-title {
  font-weight: 800;
  font-size: 44.5093px;
  line-height: 135%;
  margin-bottom: 17.8px;
}
.about__text {
  font-size: 20.0292px;
  line-height: 178%;
  margin-bottom: 44.77px;
}
.about .about-more {
  font-weight: 500;
  font-size: 17.8037px;
  line-height: 150%;
}
.about .about-more__link {
  color: #ffffff;
  margin-right: 44.5px;
}
.about .about-more__watch {
  color: #ffffff;
}
.about .about-more__watch span {
  margin-right: 9px;
}

.subscribe {
  font-style: normal;
  color: #ffffff;
}
.subscribe .section-title {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 39.7965px;
  line-height: 1.256;
  margin-bottom: 27.64px;
}
.subscribe__wrap {
  margin: 293.63px 13.98% 160px 6.87%;
}
.subscribe__image {
  margin-right: 76.28px;
}
.subscribe__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 19.8983px;
  line-height: 178%;
  margin-bottom: 49.74px;
}
.subscribe__input {
  padding: 13px 17.69px;
  width: 274px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5.5273px 0px 0px 5.5273px;
}
.subscribe__input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 171%;
  color: #474a57;
}
.subscribe__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 171%;
  color: #474a57;
}
.subscribe__button {
  padding: 11px 33px 15px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15.4764px;
  line-height: 143%;
  color: #ffffff;
  border-width: 2.2px;
  border-style: solid;
  height: 100%;
  border: none;
  border-radius: 0px 5.5273px 5.5273px 0px;
}
.subscribe__button_wrap {
  background: linear-gradient(250deg, rgb(255, 166, 250) 43%, rgb(60, 121, 212) 100%);
  border: none;
  padding: 2px;
  margin-left: 8.8px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 0px 5.5273px 5.5273px 0px;
}

.footer__wrap {
  margin: 0px 11.1% 0px 5.18%;
  padding: 96px 0px 86px;
  border-top: solid 1.11px rgba(255, 255, 255, 0.2);
  border-bottom: solid 1.11px rgba(255, 255, 255, 0.2);
}
.footer .logo {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 1.256;
  color: #ffffff !important;
  margin-bottom: 30.9px;
  text-decoration: none;
}
.footer .logo__image {
  margin-right: 4.4px;
}
.footer__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 171%;
  color: #d9dbe1;
  margin-bottom: 26.53px;
}
.footer__first-col {
  max-width: 282px;
  margin-right: 89.5px;
}
.footer .socials {
  list-style: none;
  display: flex;
}
.footer .socials__link {
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  align-items: center;
  display: flex;
  border-radius: 50%;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 17.69px;
}
.footer .socials__link:last-child {
  margin-right: 0px;
}
.footer__list {
  list-style: none;
  width: 177px;
}
.footer .last .footer__list {
  width: -moz-fit-content;
  width: fit-content;
}
.footer__item {
  cursor: pointer;
}
.footer__item:first-child {
  font-weight: 500;
  font-size: 19.8983px;
  line-height: 156%;
  color: #ffffff;
  margin-bottom: 17.69px;
}
.footer__second-col {
  display: flex;
  flex-wrap: wrap;
  gap: 32.6px;
}
.footer__item, .footer__item a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 171%;
  color: #d9dbe1;
  margin-bottom: 13.27px;
}
.footer__item:last-child {
  margin-bottom: 0px;
}
.footer__badge {
  font-family: "MuseoModerno", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 22.1092px;
  line-height: 120%;
  color: #2ec5ce;
  margin-left: 8.8px;
}
.footer__second {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 171%;
  color: #d9dbe1;
  padding: 26.5px 0px 40px;
  flex-wrap: wrap;
  gap: 38px !important;
}
.footer__second .footer__list-second {
  list-style: none;
  justify-content: end;
}
.footer__second .footer__item-second {
  padding: 0px 8px;
  cursor: pointer;
}
.footer__second .footer__item-second:first-child {
  padding-left: 0px;
}
.footer__second .footer__item-second:nth-child(2) {
  border-left: solid 2px #d9dbe1;
  border-right: solid 2px #d9dbe1;
}
.footer__second .footer__item-second:last-child {
  padding-right: 0px;
}

.accordion__card {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.accordion__card:last-child {
  border: none;
}
.accordion__card:last-child .card-header {
  padding-bottom: 0px;
}
.accordion .card-header {
  background-color: transparent;
  border: none;
  padding: 17px 0px;
}
.accordion__title {
  background-color: transparent;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19.8983px;
  line-height: 156%;
  color: #ffffff;
}
.accordion__title span {
  margin-right: 20px;
}
.accordion__list {
  list-style: none;
}
.accordion__item, .accordion__item a {
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 171%;
  color: #d9dbe1;
  padding: 13px 0px;
}

@keyframes logo-rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0);
  }
}
@media screen and (max-width: 1600px) {
  .top__item {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .persons__item {
    max-width: 437.76px;
  }
}
@media screen and (max-width: 1590px) {
  .top .slick-list {
    padding: 0 19% 0 0 !important;
  }
  .collections__list {
    margin-right: 40px;
  }
  .collections .all-link {
    margin-right: 40px;
  }
  .persons .slick-list {
    padding: 0 20% 0 0 !important;
  }
}
@media screen and (max-width: 1550px) {
  .footer .last .footer__list {
    display: flex;
    align-items: baseline;
  }
  .footer .last .footer__item {
    margin-right: 23px;
  }
  .footer .last .footer__item:last-child {
    margin-right: 0px;
  }
}
@media screen and (max-width: 1520px) {
  .subscribe__image {
    margin-right: 60px;
  }
}
@media screen and (max-width: 1500px) {
  .collections__item:nth-child(odd) {
    margin-right: 25px;
  }
  .collection-button {
    max-width: 300px;
  }
  .persons__item {
    max-width: auto;
  }
  .subscribe .section-title {
    font-size: 26.2703px;
    line-height: 1.256;
  }
  .subscribe__input {
    padding: 10px 12px;
  }
  .subscribe__input::-moz-placeholder {
    font-size: 10.2162px;
    line-height: 171%;
  }
  .subscribe__input::placeholder {
    font-size: 10.2162px;
    line-height: 171%;
  }
  .subscribe__button {
    padding: 7px 21.89px 10px;
    font-size: 10.2162px;
    line-height: 143%;
  }
}
@media screen and (max-width: 1460px) {
  .subscribe__image {
    margin-right: 45.28px;
    max-width: 688px;
  }
  .hero .personal-card {
    right: -150px;
  }
}
@media screen and (max-width: 1406px) {
  .footer__wrap {
    margin: 0px 5%;
  }
  .footer .last .footer__list {
    display: block;
  }
  .footer .last .footer__item {
    margin-right: 0px;
  }
  .footer__second-col {
    display: none !important;
  }
  .footer .accordion {
    display: block !important;
  }
  .subscribe__image {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1350px) {
  .hero__wrap > div:first-child {
    margin-right: 7%;
  }
  .sellers__wrap {
    margin: 108px 25px 108px;
  }
  .sellers__item {
    width: 45%;
  }
  .persons .slick-list {
    padding: 0 10% 0 0 !important;
  }
}
@media screen and (max-width: 1300px) {
  .top .slick-list {
    padding: 0 10% 0 0 !important;
  }
}
@media screen and (max-width: 1199px) {
  .header_scrolled .header__wrap {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .hero__wrap {
    padding: 116.5px 7% 0px;
  }
  .hero__wrap > div {
    max-width: 100%;
  }
  .hero__title {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .partners {
    margin-top: 41px;
    margin-bottom: 58.38px;
  }
  .partners__list {
    justify-content: space-around;
  }
  .top__wrap {
    margin: 166px 6% 0px 7.5%;
  }
  .top .personal-card {
    padding: 24.87px 19px 18px 17px;
  }
  .top .personal-card__button {
    padding: 7px 8px;
    font-size: 13.6006px;
    line-height: 1.25;
  }
  .top .personal-card__button_wrap {
    margin-top: 34px;
  }
  .top .personal-card__button > img {
    margin-left: 9px;
  }
  .persons__wrap {
    margin: 108px 6% 0px 7.5%;
  }
  .persons__item {
    padding: 70px 27px 28px !important;
    max-width: -moz-fit-content !important;
    max-width: fit-content !important;
    margin-right: 24px;
  }
  .persons .person__photo {
    margin-bottom: 11.48px;
  }
  .persons .person__name {
    font-size: 16.8391px;
    line-height: 1.9;
  }
  .persons .person__nikname {
    font-size: 13.9587px;
    line-height: 2.29;
  }
  .persons .stats__item {
    margin-right: 40px;
  }
  .persons .stats__item:last-child {
    margin-right: 0px;
  }
  .persons .stats__number {
    font-size: 21.9417px;
    line-height: 1;
  }
  .persons .stats__text {
    font-size: 13.7136px;
    line-height: 3.2;
  }
  .persons .persons__button {
    padding: 7.6px 0px;
    font-size: 13.7774px;
    line-height: 1.3;
    width: 162px;
  }
  .persons .persons__button_wrap {
    margin-top: 16.07px;
  }
  .collections__list {
    margin-right: 10px;
  }
  .collections__first-col {
    max-width: 65%;
  }
  .collections__item:nth-child(odd) {
    margin-right: 10px;
  }
  .collections .collection-button {
    width: 250px;
    padding: 18px 0px;
  }
  .collections .tab-content {
    max-width: 35%;
    max-height: 500px;
  }
  .collections__image {
    max-width: 350px;
    max-width: 320px;
    height: 500px;
  }
  .collections .all-link {
    margin-right: 10px;
  }
  .subscribe .section-title {
    font-size: 26.2703px;
    line-height: 1.256;
    margin-bottom: 18.24px;
  }
  .subscribe__text {
    font-size: 13.1351px;
    line-height: 178%;
    margin-bottom: 32.8px;
  }
}
@media screen and (max-width: 1028px) {
  .top .personal-card > div:first-child {
    margin-right: 10px;
  }
}
@media screen and (max-width: 991px) {
  .top .personal-card__profession {
    width: auto;
    font-size: 13.6006px;
  }
  .top .personal-card .person__nikname {
    font-size: 11.9006px;
  }
  .top .personal-card .price {
    margin-top: 6px;
  }
  .top .personal-card .price__title {
    font-size: 8.5004px;
  }
  .top .personal-card .price__eth {
    font-size: 7.47244px;
    line-height: 1.2;
  }
  .top .personal-card .price__dollar {
    font-size: 8.5004px;
    line-height: 3.176;
  }
  .top .personal-card .time {
    margin-bottom: 18px;
  }
  .top .personal-card .time__title {
    font-size: 8.5004px;
    line-height: 3.176;
  }
  .top .personal-card .time__number {
    font-size: 13.6006px;
    line-height: 1.5;
  }
  .top .personal-card .time__text {
    font-size: 8.5004px;
    line-height: 2;
  }
  .navigation__list {
    margin: 10px auto;
  }
  .sellers__button {
    display: none;
  }
  .subscribe__image {
    margin-right: 0px;
    margin-bottom: 100px;
    max-width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .collections__first-col {
    max-width: 60%;
  }
  .collections .tab-content {
    max-width: 40%;
  }
  .collections .collection-button {
    width: 210px;
    font-size: 20px;
  }
}
@media screen and (max-width: 935px) {
  .partners__list {
    justify-content: space-between;
  }
}
@media screen and (max-width: 900px) {
  .collections__image {
    max-width: 270px;
    height: 450px;
  }
  .collections__first-col {
    max-width: 65%;
  }
  .collections .tab-content {
    max-width: 30%;
  }
  .collections .collection-button {
    width: 200px;
    font-size: 17px;
  }
  .collections__item:nth-child(odd) {
    margin-right: 5px;
  }
}
@media screen and (max-width: 830px) {
  .persons .slick-list {
    padding: 0 35% 0 0 !important;
  }
  .collections__list {
    margin-right: 0px;
  }
  .collections__item:nth-child(odd) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 800px) {
  .header__wrap {
    margin: 42px 7.5% 0px 6.2%;
  }
  .hero__wrap {
    max-width: 100%;
    margin: 0;
    padding: 50px 34px 0px 30px;
  }
  .hero__title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 137.4%;
    margin-bottom: 40px;
  }
  .hero .partners__list {
    gap: 25px;
  }
  .top__wrap {
    margin: 166px 0% 0px 7.5%;
  }
  .top .personal-card__profession {
    font-size: 13.6px;
  }
  .top .personal-card__button {
    padding: 5px;
  }
  .top .personal-card > div:first-child {
    margin-right: 15px;
  }
  .persons__wrap {
    margin: 108px 0px 0px 30px;
  }
  .persons .person__photo {
    width: 112.52px;
  }
  .collections .tab-content {
    max-width: 25%;
  }
  .sellers .section-title {
    font-size: 19.2314px;
    line-height: 1.248;
  }
  .sellers__text {
    font-size: 14px;
    line-height: 140.19%;
    width: 100%;
  }
  .sellers__item {
    width: 316px;
    padding: 19.5px 14.7px 19.5px 21.48px;
  }
  .sellers__number {
    font-size: 13.8072px;
    line-height: 232%;
    margin-right: 12px;
  }
  .sellers__avatar {
    margin-right: 9.5px;
    width: 50.63px;
  }
  .sellers__name {
    font-size: 13.8072px;
    line-height: 232%;
  }
  .sellers__count {
    font-size: 9.97186px;
    line-height: 321%;
    margin-left: 3px;
  }
  .sellers__income {
    font-size: 10.6564px;
    line-height: 321%;
    padding: 5px 12.5px;
  }
  .about {
    background-size: contain;
  }
  .about__wrap {
    top: 123px;
    left: auto;
    right: 25%;
    padding: 33.68px 27.54px 29.42px 41.29px;
    width: 335px;
  }
  .about .section-title {
    font-size: 25.87px;
    line-height: 135%;
  }
  .about__text {
    font-size: 11.6415px;
    line-height: 178%;
  }
  .about .about-more {
    font-size: 10.348px;
    line-height: 150%;
  }
  .about .about-more__link {
    margin-right: 25.87px;
  }
  .about .about-more__watch {
    margin-right: 5px;
  }
  .subscribe__wrap {
    margin: 0px 13.98% 160px 6.87%;
  }
}
@media screen and (max-width: 767px) {
  .top .slick-list {
    padding: 0 30% 0 0 !important;
  }
  .subscribe__wrap {
    margin: 10px 25px;
  }
  .subscribe__image {
    margin-top: 108px;
    margin-bottom: 0px;
  }
  .subscribe__buttom {
    margin-left: 5.8px;
  }
  .about {
    background-size: 100% 300px;
  }
  .subscribe__wrap {
    margin: 10px 25px 108px;
  }
}
@media screen and (max-width: 750px) {
  .personal-card .price__logo {
    margin-right: 5.3px;
    width: 10px;
    height: 16px;
  }
  .collections__wrap {
    margin: 100px 9% 0px 6.81%;
  }
  .persons__wrap {
    margin: 70px 0px 0px 30px;
  }
  .collections__first-col {
    max-width: 100%;
  }
  .collections .tab-content {
    max-width: 100%;
  }
  .footer__wrap {
    padding: 30px 0px 40px;
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer__first-col {
    max-width: 100%;
  }
  .footer__second {
    text-align: center;
  }
  .footer__list-second {
    justify-content: center !important;
  }
  .footer .footer__item-second:nth-child(2) {
    border: none;
  }
}
@media screen and (max-width: 700px) {
  .sellers__item:nth-child(n+5) {
    display: none !important;
  }
}
@media screen and (max-width: 650px) {
  .collections .collection-button {
    width: 200px;
    padding: 12px 0px;
    font-size: 13px;
    line-height: 1.08;
  }
  .hero__button img {
    width: 27.7px;
  }
  .hero .personal-card {
    right: -120px;
  }
  .footer__wrap {
    border-bottom: none;
    margin: 0px 6.6% 0px 6.6%;
  }
  .footer__second {
    border: none;
    padding-top: 0px;
  }
}
@media screen and (max-width: 550px) {
  .hero__text {
    font-size: 14px;
    line-height: 1.64;
    margin-bottom: 40px;
  }
  .hero__sub-text {
    margin-left: 19.69px;
    font-size: 12px;
    line-height: 1.25;
  }
  .hero__button {
    font-size: 12px;
    line-height: 1.25;
    padding: 9px 17px 12.21px 28px;
  }
  .hero .statistic {
    justify-content: space-between;
    margin-top: 40.57px;
    margin-bottom: 0px;
  }
  .hero .statistic__title {
    font-size: 18px;
    line-height: 1.57;
    letter-spacing: 0.117972px;
    margin-bottom: 2px;
  }
  .hero .statistic__text {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 98%;
    letter-spacing: 0.117972px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0px;
  }
  .hero .statistic__item:first-child {
    margin: 0px;
  }
  .hero .statistic__item:nth-child(2) {
    border: none;
    padding: 0px;
  }
  .hero .statistic__item:last-child {
    margin: 0px;
  }
  .hero__image {
    max-width: 100%;
  }
  .hero__personal-card {
    right: -30px;
  }
  .top__wrap {
    margin: 108.21px 0% 0px 7.5%;
  }
  .partners img {
    width: 143px;
  }
  .section-title {
    font-size: 16px;
    line-height: 1.25;
  }
  .collections__first-col {
    height: -moz-fit-content;
    height: fit-content;
  }
  .collections .tab-content {
    height: 350px;
  }
  .collections__wrap {
    margin: 108.21px 25px 0px;
  }
  .collections .all-link {
    margin-right: 20px;
    font-size: 8.24417px;
    line-height: 1.21;
    margin-right: 0px;
  }
  .collections .all-link img {
    margin-left: 6.41px;
    width: 21px;
  }
  .collections__image {
    width: 185.89px;
    height: 347.72px;
  }
  .collections__item:nth-child(odd) {
    margin-right: 17.86px;
  }
  .collections .collection-button {
    width: 190px;
    padding: 12px 0px;
    font-size: 10.9922px;
    line-height: 1.273;
  }
  .persons .slick-list {
    padding: 0 20% 0 0 !important;
  }
  .about__wrap {
    margin-right: 21px;
    margin-left: 21px;
    left: 0;
  }
}
@media screen and (max-width: 500px) {
  .hero .personal-card {
    right: 0px;
  }
  .hero .personal-card::after {
    background-size: cover;
  }
  .top .slick-list {
    padding: 0 15% 0 0 !important;
  }
  .navigation__list {
    margin: 10px auto;
    display: block;
  }
  .navigation__item {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .navigation__item:last-child {
    margin-bottom: 0px;
  }
  .personal-card {
    margin: 0;
    right: 0;
    max-width: 100%;
    justify-content: space-between;
  }
  .personal-card > div:first-child {
    margin-right: 10px;
  }
  .personal-card__profession {
    font-size: 17.0526px;
    line-height: 1.994;
  }
  .personal-card .person__nikname {
    font-size: 14.9211px;
    line-height: 2.279;
  }
  .personal-card .price__title {
    font-size: 10.6579px;
    line-height: 3.19;
  }
  .personal-card .price__eth {
    font-size: 9.36903px;
    line-height: 1.28;
  }
  .personal-card .price__dollar {
    font-size: 10.6579px;
    line-height: 3.19;
  }
  .personal-card .time {
    margin-bottom: 10px;
  }
  .personal-card .time__title {
    font-size: 10.6579px;
    line-height: 3.19;
  }
  .personal-card .time__number {
    font-size: 17.0526px;
    line-height: 1.994;
  }
  .personal-card .time__text {
    font-size: 10.6579px;
    line-height: 2.7;
  }
  .collections .collection-button {
    width: 150px;
  }
  .footer__list-second {
    justify-content: space-between !important;
  }
  .footer__item-second {
    padding: 0px;
  }
  .footer__item-second:last-child {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .persons .slick-list {
    padding: 0 10% 0 0 !important;
  }
  .persons__item {
    padding: 70px 13px 28px !important;
  }
  .persons .stats__text {
    font-size: 10px;
  }
  .persons .stats__number {
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .header__wrap {
    margin: 26.88px 7.5% 0px 6.2%;
  }
  .hero__wrap {
    padding-top: 56px;
  }
  .top .slick-list {
    padding: 0 8% 0 0 !important;
  }
}
@media screen and (max-width: 375px) {
  .hero__wrap {
    padding: 45px 25px 0px 25px;
  }
  .hero .personal-card::after {
    border: none;
    background-size: contain;
  }
  .hero .personal-card > div:first-child {
    margin-right: 0px;
  }
  .hero .personal-card__button {
    font-size: 15px;
    padding: 3px;
  }
  .hero .personal-card__button img {
    margin-left: 5px;
  }
  .hero .personal-card .price__title {
    line-height: 1.5;
  }
  .hero .personal-card .time__number {
    line-height: 1;
  }
  .top__wrap {
    margin: 50px 0% 0px 7.5%;
  }
  .top .section-top {
    margin-bottom: 32px;
  }
  .top .personal-card__button {
    padding: 7px 9px 10px;
  }
  .top .personal-card__button_wrap {
    margin-top: 24px;
  }
  .collections .section-title {
    margin-bottom: 26px;
  }
  .collections__first-col {
    margin-top: 0px;
  }
  .collections__item:nth-child(odd) {
    margin-right: 0px;
  }
  .collections .all-link {
    margin-right: 0px;
  }
  .persons .section-top {
    margin-bottom: 30px;
  }
  .persons__item {
    max-width: 50% !important;
  }
  .persons .slick-track {
    display: block;
  }
  .persons .stats__item {
    margin-right: 10px;
  }
  .persons .person__name {
    line-height: 1;
  }
  .sellers__item {
    width: 316px;
    padding: 15px 12px;
  }
  .sellers__logo {
    width: 6.14px;
    height: 9.97px;
  }
  .sellers__text {
    margin-top: 17px;
  }
  .sellers__number {
    font-size: 13px;
  }
  .sellers__avatar {
    margin-right: 9.5px;
    width: 45px;
  }
  .sellers__name {
    font-size: 12px;
    line-height: normal;
  }
  .sellers__count {
    font-size: 9.97186px;
    line-height: 321%;
  }
  .sellers__income {
    font-size: 10.6px;
    line-height: 2;
    padding: 5px 10px;
  }
  .sellers__container {
    margin-top: 40px;
  }
  .about .section-title {
    margin-bottom: 11px;
  }
  .about__text {
    margin-bottom: 26px;
  }
  .subscribe__input {
    width: 100%;
    font-size: 10.2162px;
    line-height: 1.8;
  }
  .subscribe__image {
    height: 380px;
  }
  .subscribe__button_wrap {
    margin-left: 5.84px;
  }
  .footer__list-second {
    justify-content: space-around !important;
  }
}
@media screen and (max-width: 374px) {
  .hero .personal-card::after {
    background-size: cover;
  }
  .hero .partners__list {
    gap: 10px;
  }
  .collections .collection-button {
    width: 120px;
  }
  .about__wrap {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .persons .slick-list {
    padding: 0 10% 0 0 !important;
  }
}
@media screen and (max-width: 365px) {
  .top .personal-card__profession {
    font-size: 11px;
  }
  .top .personal-card .person__nikname {
    font-size: 10px;
  }
  .top .personal-card > div:first-child {
    margin-right: 10px;
  }
  .top .personal-card__button {
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  .hero .personal-card::after {
    background: none;
    border: 2px solid rgba(118, 118, 118, 0.1882352941);
  }
  .hero__button {
    padding: 9px 15px 11px;
  }
  .hero__button img {
    width: 17px;
    margin-left: 5px;
  }
  .hero__personal-card {
    max-width: 100%;
    display: grid;
    justify-content: center;
    -webkit-clip-path: polygon(26% 0%, 70% 0%, 100% 0, 100% 100%, 0 100%, 0 25%);
            clip-path: polygon(26% 0%, 70% 0%, 100% 0, 100% 100%, 0 100%, 0 25%);
  }
  .hero .partners__list {
    gap: 20px;
  }
  .hero .partners img {
    width: 100%;
  }
  .top .personal-card {
    padding: 24.87px 6px 18px;
  }
  .top__wrap {
    margin: 100px 0% 0px 7.5%;
  }
  .about .section-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 300px) {
  .hero .partners__list {
    justify-content: center;
  }
  .collections__list {
    display: block;
  }
  .collections__item:nth-child(odd) {
    margin-right: 0px;
  }
  .collections .collection-button {
    width: 100%;
  }
  .persons .stats__list {
    flex-wrap: wrap;
  }
  .persons .stats__item {
    margin-right: 3px;
  }
  .persons .stats__number {
    font-size: 12px;
  }
  .persons .stats__text {
    font-size: 8px;
  }
  .persons__button {
    max-width: 100px;
  }
  .subscribe form {
    flex-wrap: wrap;
    gap: 10px;
  }
  .subscribe__button {
    margin-left: 0px;
  }
}/*# sourceMappingURL=style.css.map */