@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Inter:wght@400;500;800&family=MuseoModerno&family=Orbitron:wght@700&family=Rajdhani:wght@400;500;600;700&family=Lato:wght@400;700&family=Roboto:wght@400;500&display=swap");

// font-family: 'Aldrich', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'MuseoModerno',cursive;
// font-family: 'Orbitron', sans-serif;
// font-family: 'Rajdhani', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Alethia Next', sans-serif;
// font-family: 'Spartan', sans-serif;
// font-family: 'Lato', sans-serif;

@font-face {
  font-family: "Alethia Next";
  src: url("./fonts/AlethiaNext-Light.eot");
  src: url("./fonts/AlethiaNext-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/AlethiaNext-Light.woff2") format("woff2"),
    url("./fonts/AlethiaNext-Light.woff") format("woff"),
    url("./fonts/AlethiaNext-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: "Spartan";
  src: url("./fonts/Spartan-SemiBold.eot");
  src: url("./fonts/Spartan-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Spartan-SemiBold.woff2") format("woff2"),
    url("./fonts/Spartan-SemiBold.woff") format("woff"),
    url("./fonts/Spartan-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  /* font-display: swap; */
}

$main-color: #ffffff;

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  outline: 0;
  outline-offset: 0;

  pointer-events: none;
  /* visibility: hidden; */
}

body {
  // background-color: rgba(32, 8, 59, 0.75);
  background: url("./img/bg.jpg");
  background-size: cover;
  color: $main-color;
  font-style: normal;
  overflow: hidden;
}

// preloader////////////

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #1e0b39;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  top: 0;
  // background-color: #337ab7;
  // border-radius: 100%;
  background-image: url("./img/logo/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.loaded {
  overflow: auto;
}

// ////////////////

.header {
  overflow: visible;
  &_scrolled {
    position: fixed !important;
    background-color: rgba(39, 39, 39, 0.9);
    z-index: 50;
    .header__wrap {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .logo {
      font-size: 15px;
    }

    .navigation {
      &__list {
        // max-width: fit-content;
      }
      &__link {
        font-size: 15px;
      }
    }
  }

  &__wrap {
    // margin: 42px 5.86% 0px 5.93%;
    margin: 42px 7.03% 0px 7.116%;
    // overflow: hidden;
  }

  &__icons {
    display: contents;
    cursor: pointer;
  }

  &__icon:first-child {
    margin-right: 40.9px;
    position: relative;

    .cart_badge {
      position: absolute;
      left: 10px;
      display: none;

      &.show {
        display: initial;
      }
    }
  }
}

.modal {
  &-content {
    // background: linear-gradient(
    //   92.23deg,
    //   #ff56f6 21.43%,
    //   #b936ee 50.63%,
    //   #3bace2 100%,
    //   #406aff 117.04%
    // );

    background-color: #3f2372;

    // .close {
    //   background-color: transparent;
    //   border: none;
    // }

    .nav-link {
      color: $main-color;
    }

    .nav-link:focus,
    .nav-link:active {
      color: rgb(216, 32, 139);
    }
  }
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 1.256;
  color: rgba(255, 255, 255, 0.6) !important;
  max-width: fit-content;
  &_accent {
    color: $main-color;
  }
  &:hover &_accent {
    color: #ff56f6;
  }
  &:hover {
    color: $main-color !important;
  }

  &:hover &__image {
    animation: logo-rotate 1s ease-in-out;
  }
}

.dropdown {
  display: inline-block;
}

.dropdown-menu {
  background-color: #27252e;
  color: $main-color;
  padding: 10px;

  .removebtn {
    position: absolute;
    right: 5px;
  }

  .card__item {
    margin-bottom: 20px;

    p {
      margin-bottom: 5px;
    }
  }
  .card__item:last-child {
    margin-bottom: 0px;
  }
}

.navbar-toggler {
  max-width: 21px;
  border: none;
  padding: 1px 0px;
}

.navbar-toggler-icon {
  width: 21.71px;
  height: 2.81px;
  background-color: $main-color;
  margin-right: 0px;
  margin-left: auto;
  margin-bottom: 5.61px;
  border-radius: 20%;
  display: flex;
  background-image: none !important;
}

.navbar-toggler-icon:nth-child(2) {
  width: 13.57px;
  height: 3px;
}

.navbar-toggler-icon:last-child {
  margin-bottom: 0;
}

.navigation {
  &__list {
    // margin-left: 215px;
    // margin-left: 13.9%;
    margin-left: 18.25%;
    flex-direction: row;
  }

  &__btn {
    border: none;
  }

  &__btn:focus,
  &__btn:active {
    outline: none;
    box-shadow: none;
  }

  &__item {
    margin-right: 66.33px;
  }
  &__item:last-child {
    margin-right: 0px;
  }
  &__link {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 19.8983px;
    line-height: 1.256;

    color: rgba(255, 255, 255, 0.6);

    &:hover {
      color: #ff56f6 !important;
    }

    &:focus {
      color: $main-color !important;
    }
  }
}

.personal-card {
  padding: 27.64px 21px 17.69px 18.79px;
  position: relative;
  max-width: fit-content;

  > div {
    max-width: fit-content;
  }

  > div:first-child {
    margin-right: 45px;
  }

  &::after {
    display: block;
    content: " ";
    right: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 8.84367px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) -1.52%,
      rgba(255, 255, 255, 0.024) 104.35%
    );
    border-width: 2.8px;
    border-style: solid;
    border-image: linear-gradient(
        140deg,
        rgba(255, 255, 255, 0.28) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      1;
    backdrop-filter: blur(30.4001px);
  }

  &__profession {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-size: 17.6873px;
    line-height: 200%;

    display: flex;
    align-items: center;

    color: $main-color;
    margin: 0px;
  }

  &__button {
    padding: 7.74px 8.84px 7.74px 9.95px;
    border: 8px;

    // i {
    //   // font-size: 24px;
    //   margin-left: 9px;
    // }

    &_wrap {
      padding: 2px;
      border-radius: 2px;
      width: fit-content;
      background-image: linear-gradient(
        275deg,
        #ff56f6 21.43%,
        #b936ee 50.63%,
        #3bace2 100%,
        #406aff 117.04%
      );
    }

    img {
      margin-left: 9px;
    }
  }

  .person {
    display: flex;
    align-items: center;

    &__avatar {
      margin-right: 4.32px;
    }

    &__nikname {
      font-family: "Rajdhani", sans-serif;
      font-weight: 600;
      font-size: 20.1601px;
      line-height: 229%;

      display: flex;
      align-items: center;

      color: $main-color;
      margin-right: 3.32px;
      margin-bottom: 0px;
    }
  }

  .price {
    margin-top: 10px;
    &__title {
      font-family: "Rajdhani", sans-serif;
      font-weight: 600;
      font-size: 11.0546px;
      line-height: 320%;

      display: flex;
      align-items: center;

      color: $main-color;

      opacity: 0.7;
      // margin-bottom: 11px;
      margin-bottom: 0px;
    }

    &__logo {
      margin-right: 7.6px;
      width: auto;
    }

    &__eth {
      font-family: "Orbitron", sans-serif;
      font-weight: 700;
      font-size: 9.71776px;
      // line-height: 1.235;

      color: $main-color;
      margin-right: 5.53px;
      margin-bottom: 0px;
    }

    &__dollar {
      font-family: "Rajdhani", sans-serif;
      font-weight: 400;
      font-size: 14.0546px;
      // line-height: 320%;

      color: $main-color;

      opacity: 0.7;
      margin-bottom: 0px;
    }
  }

  .time {
    &__title {
      font-family: "Rajdhani", sans-serif;
      font-weight: 600;
      font-size: 11.0546px;
      // line-height: 320%;
      line-height: 2.5;

      display: flex;
      align-items: center;

      color: $main-color;

      opacity: 0.7;
      // margin-bottom: 13px;
      margin-bottom: 0px;
    }

    &__list {
      list-style: none;
      display: flex;
    }

    &__item {
      margin-right: 17.69px;
    }

    &__item:last-child {
      margin-right: 0px;
    }

    &__number {
      font-family: "Rajdhani", sans-serif;
      font-weight: 600;
      font-size: 17.6873px;
      // line-height: 200%;

      display: flex;
      align-items: center;

      color: $main-color;
    }

    &__text {
      font-family: "Rajdhani";
      font-style: normal;
      font-weight: 500;
      font-size: 11.0546px;
      // line-height: 320%;

      display: flex;
      align-items: center;

      color: $main-color;

      opacity: 0.7;
    }

    margin-bottom: 25.95px;
  }
}

.hero {
  &__col-logo {
    height: 512px;
  }
  &__wrap {
    // margin: 105px auto 0px;
    max-width: 100%;
    margin: 0;
    padding: 116.5px 103px 0px;

    > div {
      max-width: fit-content;
    }

    > div:first-child {
      // margin-right: 10.84%;
      margin-right: 14.53%;
    }
  }

  &__title {
    font-family: "Spartan", sans-serif;
    font-weight: 600;
    font-size: 66.3276px;
    line-height: 137.4%;
    color: $main-color;
    margin-bottom: 21px;
    // width: 109.1%;
    width: 110.1%;
  }

  .accent {
    background: linear-gradient(89.89deg, #42a6e3 2.33%, #ff56f6 101.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__text {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-size: 26.531px;
    line-height: 1.658;
    margin-bottom: 43.11px;
  }

  &__sub-text {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 19.8983px;
    line-height: 1.256;
    margin-left: 37.59px;
    margin-bottom: 0px;
  }

  &__button {
    position: relative;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 19.8983px;
    line-height: 1.256;
    padding: 20px 32px 19px 67px;
    clip-path: polygon(
      0 40%,
      20% 0,
      100% 0,
      100% calc(100% - 40%),
      calc(100% - 15%) 100%,
      0 100%
    );
    border: none;
    background: linear-gradient(
      235deg,
      rgba(255, 86, 246, 1) 0%,
      rgba(185, 54, 238, 1) 26%,
      rgba(59, 172, 226, 1) 70%,
      rgba(64, 106, 255, 1) 100%
    ) !important;
    box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
    img {
      margin-left: 11px;
    }

    // border-width: 2.2px;
    border-radius: 2.2px;
    // border-style: solid;
    // border-image: linear-gradient(
    //     45deg,
    //     rgba(255, 166, 250, 1) 43%,
    //     rgba(60, 121, 212, 1) 100%
    //   )
    //   1;

    &_wrap {
      max-width: fit-content;
      padding: 2px;
      clip-path: polygon(
        0 40%,
        20% 0,
        100% 0,
        100% calc(100% - 40%),
        calc(100% - 15%) 100%,
        0 100%
      );
      border-radius: 2.2px;
      background: linear-gradient(
        45deg,
        rgba(255, 166, 250, 1) 43%,
        rgba(60, 121, 212, 1) 100%
      ) !important;
      border: none;
    }
  }

  &__statistic {
    margin-top: 65.54px;
    margin-bottom: 0px;

    .statistic__item:first-child {
      margin-right: 14.84px;
    }

    .statistic__item:nth-child(2) {
      padding: 0px 21.4px 0px 40.4px;
      border-left: 1.10546px solid rgba(255, 255, 255, 0.26);
      border-right: 1.10546px solid rgba(255, 255, 255, 0.26);
    }

    .statistic__item:last-child {
      margin-left: 46px;
    }

    .statistic__title {
      font-family: "Aldrich", sans-serif;
      font-weight: 400;
      font-size: 39.7965px;
      line-height: 133%;

      display: flex;
      align-items: center;
      letter-spacing: 0.221092px;
      color: $main-color;
      margin-bottom: 0;
    }

    .statistic__text {
      font-family: "Alethia Next", sans-serif;
      font-weight: 400;
      font-size: 17.6873px;
      line-height: 125%;

      display: flex;
      align-items: center;
      letter-spacing: 0.221092px;

      color: $main-color;
    }
  }

  &__image {
    border-radius: 17.6873px;
    clip-path: polygon(
      0 20%,
      20% 0,
      100% 0,
      100% calc(100% - 20%),
      calc(100% - 20%) 100%,
      0 100%
    );
  }

  &__personal-card {
    padding: 27.64px 21px 17.69px 23px;
    // clip-path: polygon(15% 0%, 70% 0%, 100% 0, 100% 100%, 0 100%, 0 19%);
    clip-path: polygon(14% 0%, 70% 0%, 100% 0, 100% 100%, 0 100%, 0 25%);
    // bottom: 63px;
    // right: -70px;

    bottom: 115px;
    right: -180px;
    border: none;

    .price__logo {
      margin-right: 5.8px;
      width: 10px;
      height: 17px;
    }

    .price__dollar {
      font-size: 11px;
    }

    .person {
      &__nikname {
        font-size: 15.48px;
      }
    }
  }

  .personal-card::after {
    // border-image: none;
    // border-color: rgba(255, 255, 255, 0.2);
    background-image: url("./img/border-catd.svg");
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.button {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 5.76002px 139.681px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(106.124px);
  // border-image: linear-gradient(272.52deg, #ffa6fa 47.49%, #3c79d5 98.81%);
  border-radius: 2.21092px;
  color: $main-color;
}

.statistic {
  list-style: none;
  display: flex;
}

.section-top {
  margin-bottom: 47px;
}

.section-title {
  font-family: "Orbitron", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  line-height: 1.24;
  color: $main-color;
}

.all-link {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  line-height: 1.24;
  color: $main-color;

  img {
    margin-left: 26.5px;
  }

  &:hover {
    color: #ff56f6 !important;
    text-decoration: none;
  }
}

.partners {
  margin-top: 102.39px;
  max-width: 100% !important;
  &__list {
    max-width: 100%;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    display: flex;
    gap: 30px;
  }

  &__item {
    max-width: fit-content;
    padding: 0px;
  }
}

.explore {
  font-family: "Orbitron";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  color: $main-color;

  padding: 9px 17px 12.21px 18px;
  border-radius: 1.17972px;
  border-width: 1.18px;
  width: fit-content;
  // border-style: solid;
  border: none;
  &_wrap {
    margin: 0px auto;
    margin-top: 40px;
    padding: 2px;
    max-width: fit-content;
    border: none;
    background-image: linear-gradient(
      92.23deg,
      #ff56f6 21.43%,
      #b936ee 50.63%,
      #3bace2 100%,
      #406aff 117.04%
    );
    clip-path: polygon(
      0 40%,
      20% 0,
      100% 0,
      100% calc(100% - 40%),
      calc(100% - 15%) 100%,
      0 100%
    );
  }
  background-color: #29164e;
  // border-image: linear-gradient(
  //     92.23deg,
  //     #ff56f6 21.43%,
  //     #b936ee 50.63%,
  //     #3bace2 100%,
  //     #406aff 117.04%
  //   )
  // 1;

  clip-path: polygon(
    0 40%,
    20% 0,
    100% 0,
    100% calc(100% - 40%),
    calc(100% - 15%) 100%,
    0 100%
  );

  // margin: 0px auto;
  // margin-top: 40px;

  img {
    margin-left: 3.5px;
    width: 27px;
  }

  > p {
    display: contents;
  }

  &:hover {
    color: #ff56f6;
  }
}

.top {
  .slick-track {
    justify-content: space-between;
    display: flex;
  }

  .slick-list {
    padding: 0 0% 0 0 !important;
  }

  &__wrap {
    margin: 197.52px 6% 0px 7.5%;
  }

  &__list {
    list-style: none;
  }

  &__item {
    max-width: 32%;
    margin-right: 22px;

    > img {
      width: 100%;
    }
  }

  &__item:last-child {
    margin-right: 0px;
  }

  .personal-card {
    padding: 35px 27px 26px 24px;
    // padding: 35px 27px 26px 30px;

    > div:first-child {
      margin-right: 24px;
    }

    &__profession {
      font-size: 23.0401px;
      // font-size: 22.3px;
      width: 210px;
      line-height: 2;
    }

    &_nikname {
      font-size: 20.1601px;
      line-height: 2.28;
    }

    &__button {
      padding: 10px 11.52px 10px 13px;
      font-size: 23.0401px;
      line-height: 1.26;

      &_wrap {
        padding: 2px;
        width: fit-content;
        background-image: linear-gradient(
          275deg,
          #ff56f6 21.43%,
          #b936ee 50.63%,
          #3bace2 100%,
          #406aff 117.04%
        );
      }

      > img {
        margin-left: 13px;
      }
    }

    .price {
      margin-top: 13px;
      &__title {
        font-size: 14.4001px;
        // line-height: 3.19;
        line-height: 2.19;
      }

      &__logo {
        // margin-right: 2px;
      }

      &__eth {
        font-size: 12.6587px;
        line-height: 1.26;
        margin-right: 7px;
      }

      &__bollar {
        font-size: 14.4001px;
        line-height: 3.19;
      }
    }

    .time {
      &__title {
        font-size: 14.4001px;
        // line-height: 3.19;
      }

      &__item {
        margin: 0px;
      }

      &__number {
        font-size: 23.0401px;
        // line-height: 2;
      }

      &__text {
        font-size: 14.4001px;
        // line-height: 3.19;
      }
    }
  }
}

.collections {
  &__wrap {
    margin: 179.65px 9% 0px 6.81%;
  }

  &__image {
    // height: 690px;
    // width: 370px;

    height: 820px;
    width: 430px;
  }

  &__first-col {
    max-width: fit-content;
    margin-top: 49.17px;
  }

  .tab-content {
    height: 690px;
  }

  &__list {
    list-style: none;
    // -moz-column-count: 2; /* Firefox */
    // -webkit-column-count: 2; /* Safari and Chrome */
    // column-count: 2;
    // gap: 0;
    // margin-bottom: 43px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    // margin-right: 40px;
    // margin-right: 100px;
    margin-right: 110px;
  }

  &__item {
    // margin-bottom: 43px;
    margin-bottom: 40px;
  }

  &__item:nth-child(odd) {
    margin-right: 43px;
  }

  .section-title {
    margin-bottom: 47px;
  }

  .all-link {
    font-size: 19.8983px;
    line-height: 1.256;
    // margin-right: 43px;
    margin-right: 100px;
    > img {
      margin-left: 15.48px;
    }
  }

  .collection-button {
    padding: 33px 0;
    width: 368px;

    font-family: "Orbitron";
    font-weight: 700;
    font-size: 26.531px;
    line-height: 1.24;
    text-align: center;

    color: rgba(255, 255, 255, 0.5);

    border-width: 2.8px;
    border-radius: 2.21092px;
    background: transparent;
    border-image: linear-gradient(
        92.23deg,
        #ff56f6 21.43%,
        #b936ee 50.63%,
        #3bace2 100%,
        #406aff 117.04%
      )
      1;

    &.active,
    &:hover,
    &:focus {
      color: #ffffff;
      background: linear-gradient(
        92.23deg,
        #ff56f6 21.43%,
        #b936ee 50.63%,
        #3bace2 100%,
        #406aff 117.04%
      );
      box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
    }
  }
}

.persons {
  .slick-track {
    justify-content: space-between;
    display: flex;
  }
  .slick-list {
    padding: 0 0% 0 0 !important;
  }

  &__wrap {
    // margin: 160px 6.657% 0px 6.84%;
    margin: 250px 6.657% 0px 6.84%;
  }

  &__list {
    list-style: none;
  }

  &__item {
    // max-width: 437.76px;
    max-width: 32%;
    margin-right: 35px;

    padding-top: 101.7px;
    padding-bottom: 40.9px;
    background-image: url("./img/collection_bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;

    border-width: 2.8px;
    border-style: solid;
    border-image: linear-gradient(
        140deg,
        rgba(255, 255, 255, 0.28) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      1;

    &::after {
      display: block;
      content: " ";
      right: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.1) -1.52%,
        rgba(255, 255, 255, 0.024) 104.35%
      );
      backdrop-filter: blur(39.6002px);
    }
  }

  &__item:last-child {
    margin-right: 0px;
  }

  .person {
    text-align: center;

    font-family: "Rajdhani";
    font-style: normal;

    color: #ffffff;
    &__photo {
      margin-bottom: 16.58px;
      margin-left: auto;
      margin-right: auto;
    }

    &__name {
      font-weight: 500;
      font-size: 24.3201px;
      // line-height: 189%;
      line-height: 0.7;
    }

    &__nikname {
      font-weight: 400;
      font-size: 20.1601px;
      margin-right: 1.9px !important;
      // line-height: 229%;
      line-height: 2.3;

      color: #ffb1ee;
    }
  }

  .stats {
    margin-top: 7px;

    align-items: center;
    text-align: center;

    &__list {
      list-style: none;
      display: flex;
    }

    &__number {
      font-weight: 600;
      font-size: 31.6897px;
      // line-height: 200%;
    }

    &__text {
      font-weight: 500;
      font-size: 19.8061px;
      // line-height: 320%;

      opacity: 0.7;
    }
  }

  &__button {
    text-align: center;
    // margin-top: 23.21px;
    // margin-top: 48.83px;
    padding: 11px 0px;
    width: 234px;

    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(
        92.23deg,
        #ff56f6 21.43%,
        #b936ee 50.63%,
        #3bace2 100%,
        #406aff 117.04%
      )
      1;

    &_wrap {
      max-width: fit-content;
      padding: 2px;
      // margin-top: 48.83px;
      margin-top: 40px;
      background-image: linear-gradient(
        276deg,
        #ff56f6 21.43%,
        #b936ee 50.63%,
        #3bace2 100%,
        #406aff 117.04%
      );
    }
  }
}

.sellers {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  color: $main-color;
  &__wrap {
    margin: 160px 6.8% 160px;
  }

  .section-title_accent {
    color: #ff56f6;
    text-decoration: none;
    svg {
      margin-left: 4px;
      path {
        fill: #ff56f6;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 17.6873px;
    line-height: 1.4;
    margin: 23.22px auto 0px;
    width: 506px;
  }

  &__container {
    margin-top: 55px;
  }

  &__list {
    // gap: 34px;
    // gap: 34px 2.57%;
    gap: 25px 2.57%;
    justify-content: center;
    // list-style: none;
    // -moz-column-count: 3; /* Firefox */
    // -webkit-column-count: 3; /* Safari and Chrome */
    // column-count: 3;

    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    align-items: center;
    border-radius: 28.5719px;
    padding: 27px 20px 27px 29px;
    border: 2.27px solid $main-color;
    // width: 437px;
    width: 31.62%;
    // max-width: initial;
    // margin-bottom: 34.27px;
  }

  &__item:nth-child(4n) {
    // margin-bottom: 0px;
  }

  &__item:nth-child(n) {
    // margin-right: 0px;
  }

  &__number {
    font-weight: 500;
    font-size: 19.0479px;
    line-height: 232%;

    color: rgba(255, 255, 255, 0.8);
    margin-right: 17.22px;
  }

  &__avatar {
    margin-right: 13px;
  }

  &__name {
    font-weight: 500;
    font-size: 19.0479px;
    // line-height: 232%;
    text-align: initial;
  }

  &__logo {
    width: 8.47px;
    height: 13.76px;
  }

  &__count {
    font-weight: 500;
    font-size: 13.7568px;
    line-height: 321%;

    color: rgba(255, 255, 255, 0.8);
    margin-left: 4.23px;
  }

  &__income {
    font-weight: 500;
    font-size: 14.7012px;
    // line-height: 321%;
    padding: 6.5px 17px;
    border-radius: 17.5283px;

    &_positive {
      color: #00ff66;
      background: rgba(0, 179, 71, 0.15);
    }

    &_negative {
      color: #ff0000;
      background: linear-gradient(
        180deg,
        rgba(235, 20, 20, 0.15) 0%,
        rgba(235, 20, 20, 0.1005) 100%
      );
    }
  }

  &__button {
    margin-top: 61.9px;
    padding: 11px 74px;
    font-family: "Rajdhani";
    font-style: normal;
    font-weight: 600;
    font-size: 19.8983px;
    line-height: 1.256;
    text-align: center;

    color: #ffffff;

    border-width: 2.2px;
    border-style: solid;
    border-image: linear-gradient(
        45deg,
        rgba(255, 166, 250, 1) 43%,
        rgba(60, 121, 212, 1) 100%
      )
      1;
  }
}

.about {
  background-image: url("./img/about_bg.jpg");
  background-size: 100% 680px;
  background-repeat: no-repeat;
  height: 556.37px;
  position: relative;

  // overflow: hidden;

  font-family: "Inter", sans-serif;
  font-style: normal;

  color: $main-color;

  &__wrap {
    position: absolute;
    top: 216px;
    // right: 141px;
    right: 8.8%;
    left: auto;
    width: 577px;

    padding: 57.95px 47.39px 50.6px 71.2px;
    border-radius: 2.88322px;

    // font-feature-settings: "salt" on, "liga" off;

    border-width: 2.8px;
    border-style: solid;
    border-image: linear-gradient(
        235deg,
        rgba(97, 97, 97, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      1;
    z-index: 10;
    &::before {
      display: block;
      content: " ";
      right: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(72.8013px);
      border-radius: 2.88322px;
    }
  }

  .section-title {
    font-weight: 800;
    font-size: 44.5093px;
    line-height: 135%;
    margin-bottom: 17.8px;
  }

  &__text {
    font-size: 20.0292px;
    line-height: 178%;
    margin-bottom: 44.77px;
  }

  .about-more {
    font-weight: 500;
    font-size: 17.8037px;
    line-height: 150%;

    &__link {
      color: $main-color;
      margin-right: 44.5px;
    }

    &__watch {
      color: $main-color;
      span {
        margin-right: 9px;
      }
    }
  }
}

.subscribe {
  font-style: normal;
  color: $main-color;

  .section-title {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 39.7965px;
    line-height: 1.256;
    // line-height: 1.7;
    margin-bottom: 27.64px;
  }

  &__wrap {
    margin: 293.63px 13.98% 160px 6.87%;
  }

  &__image {
    margin-right: 76.28px;
  }

  &__text {
    font-family: "Inter", sans-serif;

    font-weight: 400;
    font-size: 19.8983px;
    line-height: 178%;
    margin-bottom: 49.74px;
  }

  &__input {
    padding: 13px 17.69px;
    width: 274px;
    height: fit-content;
    border-radius: 5.5273px 0px 0px 5.5273px;
  }

  &__input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 171%;

    color: #474a57;
  }

  &__button {
    padding: 11px 33px 15px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15.4764px;
    line-height: 143%;
    color: $main-color;
    // margin-left: 8.8px;
    border-width: 2.2px;
    border-style: solid;
    height: 100%;

    &_wrap {
      background: linear-gradient(
        250deg,
        rgba(255, 166, 250, 1) 43%,
        rgba(60, 121, 212, 1) 100%
      );
      border: none;
      padding: 2px;
      margin-left: 8.8px;
      max-width: fit-content;
      // height: fit-content;
      border-radius: 0px 5.5273px 5.5273px 0px;
    }
    // border-image: linear-gradient(
    //     45deg,
    //     rgba(255, 166, 250, 1) 43%,
    //     rgba(60, 121, 212, 1) 100%
    //   )
    //   1;
    border: none;
    border-radius: 0px 5.5273px 5.5273px 0px;
  }
}

.footer {
  &__wrap {
    margin: 0px 11.1% 0px 5.18%;
    // padding: 96px 0px 86px;
    padding: 96px 0px 75px;
    border-top: solid 1.11px rgba(255, 255, 255, 0.2);
    border-bottom: solid 1.11px rgba(255, 255, 255, 0.2);
  }

  .logo {
    font-family: "Orbitron", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19.8983px;
    line-height: 1.256;
    color: $main-color !important;

    margin-bottom: 30.9px;
    text-decoration: none;
    &__image {
      margin-right: 4.4px;
    }
  }

  &__text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 171%;

    color: #d9dbe1;

    margin-bottom: 26.53px;
  }

  &__first-col {
    max-width: 282px;
    margin-right: 89.5px;
  }

  .socials {
    list-style: none;
    display: flex;
    &__link {
      max-width: fit-content;
      max-height: fit-content;
      align-items: center;
      display: flex;
      border-radius: 50%;
      padding: 6px;
      background-color: rgba(255, 255, 255, 0.1);

      margin-right: 17.69px;
    }

    &__link:last-child {
      margin-right: 0px;
    }
  }

  &__list {
    list-style: none;
    width: 177px;
    margin-bottom: 0px;
    // margin-right: 33px;
  }

  .last {
    .footer__list {
      width: fit-content;
    }
  }

  &__item {
    cursor: pointer;
  }

  &__item:first-child {
    font-weight: 500;
    font-size: 19.8983px;
    line-height: 156%;

    color: $main-color;
    margin-bottom: 17.69px;
  }

  &__second-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32.6px;
  }

  &__item,
  &__item a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 171%;

    color: #d9dbe1;
    margin-bottom: 13.27px;
  }

  &__item:last-child {
    margin-bottom: 0px;
  }

  &__badge {
    font-family: "MuseoModerno", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 22.1092px;
    line-height: 120%;
    color: #2ec5ce;

    margin-left: 8.8px;
  }

  &__second {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 171%;

    color: #d9dbe1;

    padding: 26.5px 0px 40px;

    flex-wrap: wrap;
    gap: 38px !important;

    .footer__list-second {
      list-style: none;
      justify-content: end;
    }

    .footer__item-second {
      padding: 0px 8px;
      cursor: pointer;
      &:first-child {
        padding-left: 0px;
      }

      &:nth-child(2) {
        border-left: solid 2px #d9dbe1;
        border-right: solid 2px #d9dbe1;
      }

      &:last-child {
        padding-right: 0px;
      }
    }
  }
}

.accordion {
  &__card {
    background-color: transparent;
    border: none;

    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  }

  &__card:last-child {
    border: none;
    .card-header {
      padding-bottom: 0px;
    }
  }

  .card-header {
    background-color: transparent;
    border: none;
    padding: 17px 0px;
  }

  &__title {
    background-color: transparent;
    border: none;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19.8983px;
    line-height: 156%;

    color: $main-color;

    span {
      margin-right: 20px;
    }
  }

  &__list {
    list-style: none;
  }

  &__item,
  &__item a {
    cursor: pointer;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 171%;

    color: #d9dbe1;

    padding: 13px 0px;
  }
}

@keyframes logo-rotate {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0);
  }
}
@media screen and (max-width: 1600px) {
  .top {
    &__item {
      max-width: fit-content;
    }
  }

  .persons {
    &__item {
      max-width: 437.76px;
    }
  }

  .footer {
    &__second-col {
      justify-content: initial;
    }
  }
}

@media screen and (max-width: 1590px) {
  .top {
    .slick-list {
      padding: 0 19% 0 0 !important;
    }
  }

  .collections {
    &__list {
      margin-right: 40px;
    }
    .all-link {
      margin-right: 40px;
    }
  }

  .persons {
    .slick-list {
      padding: 0 20% 0 0 !important;
    }
  }
}

@media screen and (max-width: 1550px) {
  .footer {
    .last {
      .footer__list {
        display: flex;
        align-items: baseline;
      }
      .footer__item {
        margin-right: 23px;
      }
      .footer__item:last-child {
        margin-right: 0px;
      }
    }

    &__second-col {
      justify-content: space-around;
    }
  }
}
@media screen and (max-width: 1520px) {
  .subscribe {
    &__image {
      margin-right: 60px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .collections {
    &__item:nth-child(odd) {
      margin-right: 25px;
    }
  }

  .collection-button {
    max-width: 300px;
  }

  .persons {
    &__item {
      max-width: auto;
    }
  }

  .subscribe {
    .section-title {
      font-size: 26.2703px;
      line-height: 1.256;
    }

    &__input {
      padding: 10px 12px;
    }

    &__input::placeholder {
      font-size: 10.2162px;
      line-height: 171%;
    }

    &__button {
      padding: 7px 21.89px 10px;
      font-size: 10.2162px;
      line-height: 143%;
    }
  }
}

@media screen and (max-width: 1460px) {
  .subscribe {
    &__image {
      margin-right: 45.28px;
      max-width: 688px;
    }
  }

  .hero {
    .personal-card {
      right: -150px;
    }
  }
}

@media screen and (max-width: 1406px) {
  .footer {
    &__wrap {
      margin: 0px 5%;
    }

    .last {
      .footer__list {
        display: block;
      }
      .footer__item {
        margin-right: 0px;
      }
    }

    &__second-col {
      display: none !important;
    }

    .accordion {
      display: block !important;
    }
  }

  .subscribe {
    &__image {
      margin-bottom: 100px;
    }
  }
}

@media screen and (max-width: 1350px) {
  .hero {
    &__wrap {
      > div:first-child {
        margin-right: 7%;
      }
    }
  }

  .sellers {
    &__wrap {
      margin: 108px 25px 108px;
    }

    &__item {
      width: 45%;
    }
  }

  .persons {
    .slick-list {
      padding: 0 11% 0 0 !important;
    }
  }
}

@media screen and (max-width: 1300px) {
  .top {
    .slick-list {
      padding: 0 10% 0 0 !important;
    }
  }
}

@media screen and (max-width: 1199px) {
  .header_scrolled {
    .header__wrap {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  .hero {
    &__wrap {
      padding: 116.5px 7% 0px;
      > div {
        max-width: 100%;
      }
    }

    &__title {
      max-width: fit-content;
    }
  }

  .partners {
    margin-top: 41px;
    margin-bottom: 58.38px;

    &__list {
      justify-content: space-around;
    }
  }

  .top {
    &__wrap {
      margin: 166px 6% 0px 7.5%;
      // margin: 166px 0% 0px 7.5%;
    }

    // .slick-list {
    //   overflow: visible;
    // }

    .personal-card {
      padding: 24.87px 19px 18px 17px;

      > div:first-child {
        // margin: 0px;
      }

      &__button {
        padding: 7px 8px;
        font-size: 13.6006px;
        line-height: 1.25;
        &_wrap {
          margin-top: 34px;
        }
        > img {
          margin-left: 9px;
        }
      }
    }
  }

  .persons {
    &__wrap {
      margin: 108px 6% 0px 7.5%;
      // margin: 108px 0% 0px 7.5%;
    }

    .slick-list {
      padding: 0 20% 0 0 !important;
    }

    &__item {
      padding: 70px 27px 28px !important;
      max-width: fit-content !important;
      margin-right: 24px;
    }

    .person {
      &__photo {
        margin-bottom: 11.48px;
      }

      &__name {
        font-size: 16.8391px;
        line-height: 1.9;
      }

      &__nikname {
        font-size: 13.9587px;
        line-height: 2.29;
      }
    }

    .stats {
      &__item {
        margin-right: 40px;
      }

      &__item:last-child {
        margin-right: 0px;
      }

      &__number {
        font-size: 21.9417px;
        // line-height: 2;
        line-height: 1;
      }

      &__text {
        font-size: 13.7136px;
        line-height: 3.2;
      }
    }

    .persons__button {
      &_wrap {
        margin-top: 16.07px;
      }
      padding: 7.6px 0px;
      font-size: 13.7774px;
      line-height: 1.3;
      width: 162px;
    }
  }

  .collections {
    &__list {
      margin-right: 10px;
    }

    &__first-col {
      max-width: 65%;
    }

    &__item:nth-child(odd) {
      margin-right: 10px;
    }

    .collection-button {
      width: 250px;
      padding: 18px 0px;
    }

    .tab-content {
      max-width: 35%;
      max-height: 500px;
    }

    &__image {
      max-width: 350px;
      max-width: 320px;
      height: 500px;
    }

    .all-link {
      margin-right: 10px;
    }
  }

  .subscribe {
    .section-title {
      font-size: 26.2703px;
      line-height: 1.256;
      margin-bottom: 18.24px;
    }

    &__text {
      font-size: 13.1351px;
      line-height: 178%;
      margin-bottom: 32.8px;
    }
  }
}

@media screen and (max-width: 1028px) {
  .top {
    .personal-card {
      > div:first-child {
        margin-right: 10px;
      }
    }
  }

  .persons {
    .slick-list {
      padding: 0 10% 0 0 !important;
    }
  }
}

@media screen and (max-width: 991px) {
  .top {
    .personal-card {
      &__profession {
        width: auto;
        font-size: 13.6006px;
        // line-height: 1.985;
      }

      .person {
        &__nikname {
          font-size: 11.9006px;
          // line-height: 2.27;
        }
      }

      .price {
        margin-top: 6px;

        &__title {
          font-size: 8.5004px;
          // line-height: 3.176;
        }

        &__logo {
          // margin-right: 1px;
        }

        &__eth {
          font-size: 7.47244px;
          line-height: 1.2;
        }

        &__dollar {
          font-size: 8.5004px;
          line-height: 3.176;
        }
      }

      .time {
        margin-bottom: 18px;
        &__title {
          font-size: 8.5004px;
          line-height: 3.176;
        }

        &__number {
          font-size: 13.6006px;
          // line-height: 1.98;
          line-height: 1.5;
        }

        &__text {
          font-size: 8.5004px;
          // line-height: 3.176;
          line-height: 2;
        }
      }
    }
  }

  .navigation {
    &__list {
      margin: 10px auto;
    }
  }

  .sellers {
    &__button {
      display: none;
    }
  }

  .subscribe {
    &__image {
      margin-right: 0px;
      // margin-top: 108px;
      margin-bottom: 100px;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 950px) {
  .collections {
    &__first-col {
      max-width: 60%;
    }

    .tab-content {
      max-width: 40%;
    }

    .collection-button {
      width: 210px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 935px) {
  .partners {
    &__list {
      justify-content: space-between;
    }
  }

  .sellers {
    &__name {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 900px) {
  .collections {
    &__image {
      max-width: 270px;
      height: 450px;
    }

    &__first-col {
      max-width: 65%;
    }

    .tab-content {
      max-width: 30%;
    }

    .collection-button {
      width: 200px;
      font-size: 17px;
    }

    &__item:nth-child(odd) {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 830px) {
  .persons {
    .slick-list {
      padding: 0 53% 0 0 !important;
    }
  }

  .collections {
    &__list {
      margin-right: 0px;
    }

    &__item:nth-child(odd) {
      margin-right: 0px;
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    &__wrap {
      margin: 42px 7.5% 0px 6.2%;
    }
  }

  .persons {
    .slick-list {
      padding: 0 40% 0 0 !important;
    }
  }

  .hero {
    &__wrap {
      max-width: 100%;
      margin: 0;
      padding: 50px 34px 0px 30px;
    }

    &__title {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 42px;
      line-height: 137.4%;
      // margin-bottom: 40px;
      margin-bottom: 33px;
    }
    .partners {
      &__list {
        gap: 25px;
      }
    }
  }

  .top {
    &__wrap {
      margin: 166px 0% 0px 7.5%;
    }
    .personal-card {
      &__profession {
        font-size: 13.6px;
      }

      &__button {
        padding: 5px;
      }

      > div:first-child {
        margin-right: 15px;
      }
    }
  }

  .persons {
    &__wrap {
      margin: 108px 0px 0px 30px;
    }

    .person {
      &__photo {
        width: 112.52px;
      }
    }
  }

  .collections {
    .tab-content {
      max-width: 25%;
    }
  }

  .sellers {
    .section-title {
      font-size: 19.2314px;
      line-height: 1.248;
    }

    &__text {
      font-size: 14px;
      line-height: 140.19%;
      // width: 325px;
      width: 100%;
    }

    &__item {
      width: 316px;
      padding: 19.5px 14.7px 19.5px 21.48px;
    }

    &__number {
      font-size: 13.8072px;
      line-height: 232%;
      margin-right: 12px;
    }

    &__avatar {
      margin-right: 9.5px;
      width: 50.63px;
    }

    &__name {
      font-size: 13.8072px;
      line-height: 232%;
    }

    &__count {
      font-size: 9.97186px;
      line-height: 321%;
      margin-left: 3px;
    }

    &__income {
      font-size: 10.6564px;
      line-height: 321%;
      padding: 5px 12.5px;
    }
  }

  .about {
    background-size: contain;

    &__wrap {
      top: 123px;
      left: auto;
      right: 25%;
      padding: 33.68px 27.54px 29.42px 41.29px;
      width: 335px;
    }

    .section-title {
      font-size: 25.87px;
      line-height: 135%;
    }

    &__text {
      font-size: 11.6415px;
      line-height: 178%;
    }

    .about-more {
      font-size: 10.348px;
      line-height: 150%;
      &__link {
        margin-right: 25.87px;
      }

      &__watch {
        margin-right: 5px;
      }
    }
  }

  .subscribe {
    &__wrap {
      margin: 0px 13.98% 160px 6.87%;
    }
  }
}

@media screen and (max-width: 767px) {
  .top {
    .slick-list {
      padding: 0 30% 0 0 !important;
    }
  }

  .subscribe {
    &__wrap {
      margin: 10px 25px;
    }

    &__image {
      margin-top: 108px;
      margin-bottom: 0px;
    }

    &__buttom {
      margin-left: 5.8px;
    }

    &__input {
      // width: 108px;
    }
  }

  .about {
    background-size: 100% 300px;
  }

  .subscribe {
    &__wrap {
      // margin: 108px 25px;
      margin: 10px 25px 108px;
    }
  }
}

@media screen and (max-width: 750px) {
  .personal-card .price__logo {
    margin-right: 5.3px;
    width: 10px;
    height: 16px;
  }

  .collections {
    &__wrap {
      margin: 100px 9% 0px 6.81%;
    }
  }

  .persons {
    &__wrap {
      margin: 70px 0px 0px 30px;
    }
  }

  .collections {
    &__first-col {
      max-width: 100%;
    }

    .tab-content {
      max-width: 100%;
    }

    &__item:nth-child(odd) {
      // margin-right: 17.86px;
    }

    .collection-button {
      // width: 250px;
      // padding: 18px 0px;
    }
  }

  .footer {
    &__wrap {
      padding: 30px 0px 40px;
      flex-wrap: wrap;
      gap: 50px;
    }

    &__first-col {
      max-width: 100%;
    }

    &__second {
      text-align: center;
    }

    &__list-second {
      justify-content: center !important;
    }

    .footer__item-second:nth-child(2) {
      border: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .top {
    &__wrap {
      margin: 166px 0% 0px 0%;
    }
    .section-top {
      margin-left: 5%;
    }
  }

  .sellers {
    &__item:nth-child(n + 5) {
      display: none !important;
    }
  }

  .persons {
    &__wrap {
      margin: 70px 0px 0px 0px;
    }
    .section-top {
      margin-left: 30px;
    }
  }
}

@media screen and (max-width: 650px) {
  .collections {
    .collection-button {
      width: 200px;
      padding: 12px 0px;
      font-size: 13px;
      line-height: 1.08;
    }
  }

  .hero {
    &__button {
      img {
        width: 27.7px;
      }
    }

    .personal-card {
      right: -120px;
    }
  }

  .footer {
    &__wrap {
      border-bottom: none;
      margin: 0px 6.6% 0px 6.6%;
    }
    &__second {
      border: none;
      padding-top: 0px;
    }
  }
}

@media screen and (max-width: 600px) {
  .partners {
    &__item {
      img {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .hero {
    // &__title {
    //   font-family: "Lato", sans-serif;
    //   font-weight: 700;
    //   font-size: 42px;
    //   line-height: 137.4%;
    //   margin-bottom: 40px;
    // }

    &__text {
      font-size: 14px;
      line-height: 1.64;
      // margin-bottom: 40px;
      margin-bottom: 30px;
    }

    &__sub-text {
      margin-left: 19.69px;
      font-size: 12px;
      line-height: 1.25;
    }

    &__button {
      font-size: 12px;
      line-height: 1.25;
      padding: 9px 17px 12.21px 28px;
    }

    .statistic {
      justify-content: space-between;
      margin-top: 40.57px;
      margin-bottom: 0px;
      &__title {
        font-size: 18px;
        line-height: 1.57;
        letter-spacing: 0.117972px;
        margin-bottom: 2px;
      }

      &__text {
        font-family: "Lato", sans-serif;
        font-size: 12px;
        line-height: 98%;
        letter-spacing: 0.117972px;

        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 0px;
      }

      &__item:first-child {
        margin: 0px;
      }

      &__item:nth-child(2) {
        border: none;
        padding: 0px;
      }

      &__item:last-child {
        margin: 0px;
      }
    }

    &__image {
      max-width: 100%;
    }

    &__personal-card {
      right: -30px;
    }
  }

  .top {
    &__wrap {
      margin: 108.21px 0% 0px 0%;
    }
  }

  .partners {
    img {
      width: 143px;
    }
  }

  .section-title {
    font-size: 16px;
    line-height: 1.25;
  }

  .collections {
    &__first-col {
      height: fit-content;
    }

    .tab-content {
      height: 350px;
    }
    &__wrap {
      margin: 108.21px 25px 0px;
    }
    .all-link {
      margin-right: 20px;
      font-size: 8.24417px;
      line-height: 1.21;
      margin-right: 0px;
      img {
        margin-left: 6.41px;
        width: 21px;
      }
    }

    &__image {
      width: 185.89px;
      height: 347.72px;
    }

    &__item:nth-child(odd) {
      margin-right: 17.86px;
    }

    .collection-button {
      width: 190px;
      padding: 12px 0px;
      font-size: 10.9922px;
      line-height: 1.273;
    }
  }

  .persons {
    .slick-list {
      padding: 0 20% 0 0 !important;
    }
  }

  .about {
    &__wrap {
      // width: 100%;
      margin-right: 21px;
      margin-left: 21px;
      left: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .hero {
    .personal-card {
      right: 0px;
      // clip-path: polygon(14% 0%, 70% 0%, 100% 0, 100% 100%, 0 100%, 0 27%);

      &::after {
        background-size: cover;
        // border-bottom: solid 2px #493d6e5c;
      }
    }
  }

  .top {
    .slick-list {
      padding: 0 15% 0 0 !important;
    }
  }

  .navigation {
    &__item {
      margin-right: 10px;
    }
    &__item:last-child {
      margin-right: 0px;
    }
  }

  .personal-card {
    margin: 0;
    right: 0;
    max-width: 100%;
    justify-content: space-between;

    > div:first-child {
      margin-right: 10px;
    }

    &__profession {
      font-size: 17.0526px;
      line-height: 1.994;
    }

    .person {
      &__nikname {
        font-size: 14.9211px;
        line-height: 2.279;
      }
    }

    .price {
      &__title {
        font-size: 10.6579px;
        line-height: 3.19;
      }

      &__logo {
        // margin-right: 1.5px;
      }

      &__eth {
        font-size: 9.36903px;
        line-height: 1.28;
      }

      &__dollar {
        font-size: 10.6579px;
        line-height: 3.19;
      }
    }

    .time {
      margin-bottom: 10px;
      &__title {
        font-size: 10.6579px;
        line-height: 3.19;
      }

      &__number {
        font-size: 17.0526px;
        line-height: 1.994;
      }

      &__text {
        font-size: 10.6579px;
        // line-height: 3.19;
        line-height: 2.7;
      }
    }
  }

  .collections {
    .collection-button {
      width: 150px;
    }
  }

  .footer {
    &__list-second {
      justify-content: space-between !important;
    }

    &__item-second {
      padding: 0px;
      &:last-child {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .persons {
    .slick-list {
      padding: 0 30% 0 0 !important;
    }

    &__item {
      padding: 70px 13px 28px !important;
    }

    .stats {
      &__text {
        font-size: 10px;
      }
      &__number {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .header {
    &__wrap {
      margin: 26.88px 7.5% 0px 6.2%;
    }
  }

  .hero {
    &__wrap {
      padding-top: 56px;
    }
  }

  .top {
    .slick-list {
      padding: 0 8% 0 0 !important;
    }
  }
}

@media screen and (max-width: 375px) {
  .header {
    .logo {
      font-size: 16.1279px;
      line-height: 1.25;
    }
  }

  .hero {
    &__wrap {
      padding: 56px 30px 0px 30px;

      > div:first-child {
        margin-right: 0%;
      }
    }

    &__image {
      max-width: 120%;
      height: 511.79px;
      clip-path: polygon(0 10%, 15% 0, 85% 0, 85% 80%, 70% 100%, 0 100%);
    }
    &__col-logo {
      > div {
        overflow-x: clip;
      }
    }

    .personal-card {
      top: -180px;
      &::after {
        border: none;
        background-size: cover;
      }
      > div:first-child {
        margin-right: 0px;
      }
      // -webkit-clip-path: polygon(
      //   25% 0%,
      //   75% 0%,
      //   100% 0,
      //   100% 100%,
      //   0 100%,
      //   0 19%
      // );
      // clip-path: polygon(0% 0%, 75% 0%, 100% 0, 100% 100%, 0 100%, 0 19%);

      &__button {
        // font-size: 15px;
        // padding: 3px;
        img {
          margin-left: 5px;
        }
      }

      &__profession {
        // line-height: 1;
      }

      .price {
        &__title {
          line-height: 1.5;
        }
      }

      .time {
        &__number {
          line-height: 1;
        }
      }
    }
  }

  .top {
    &__wrap {
      // margin: 50px 6% 0px 7.5%;
      // margin: 108px 0% 0px 7.5%;
      margin: 108px 0% 0px 0%;
    }

    .slick-list {
      padding: 0 10% 0 0 !important;
    }

    &__item {
      width: 304px !important;
      margin-right: 0px;
    }

    .section-top {
      margin-bottom: 32px;
    }

    .personal-card {
      // justify-content: center !important;
      &__button {
        padding: 7px 9px 10px;

        &_wrap {
          margin-top: 24px;
        }
      }
    }
  }

  .collections {
    .section-title {
      margin-bottom: 26px;
    }

    &__first-col {
      margin-top: 0px;
    }

    &__item {
      margin-bottom: 17.8px;
      &:nth-child(odd) {
        margin-right: 0px;
      }
    }
    &__list {
      // gap: 17px;
    }
    .collection-button {
      // width: 120px;
    }

    .all-link {
      margin-right: 0px;
    }
  }

  .persons {
    &__wrap {
      margin: 108px 0px 0px 0px;
    }
    .section-top {
      margin-bottom: 30px;
    }

    .explore_wrap {
      margin-top: 43px;
    }

    &__item {
      // max-width: 50% !important;
      max-width: 303px !important;
    }

    .slick-list {
      padding: 0 10% 0 5% !important;
    }

    .slick-track {
      display: block;
    }

    .stats {
      &__item {
        margin-right: 10px;
      }
    }

    .person {
      &__name {
        line-height: 1;
      }
    }
  }

  .sellers {
    &__item {
      width: 316px;
      padding: 15px 12px;
    }

    &__logo {
      width: 6.14px;
      height: 9.97px;
    }

    &__text {
      margin-top: 17px;
    }

    &__number {
      font-size: 13px;
    }

    &__avatar {
      margin-right: 9.5px;
      width: 45px;
    }

    &__name {
      font-size: 12px;
      line-height: normal;
    }

    &__count {
      // font-size: 8.5px;
      font-size: 9.97186px;
      line-height: 321%;
    }

    &__income {
      font-size: 10.6px;
      line-height: 2;
      padding: 5px 10px;
    }

    &__container {
      margin-top: 40px;
    }
  }

  .about {
    max-height: 500px;
    .section-title {
      margin-bottom: 11px;
    }
    &__text {
      margin-bottom: 26px;
    }
  }

  .subscribe {
    &__input {
      width: 100%;
      font-size: 10.2162px;
      line-height: 1.8;
    }

    &__image {
      height: 380px;
    }

    &__button_wrap {
      margin-left: 5.84px;
    }
  }

  .footer {
    &__list-second {
      justify-content: space-around !important;
    }

    .accordion {
      &__card:first-child {
        .card-header {
          padding-top: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .hero {
    .personal-card::after {
      background-size: cover;
    }
    .partners {
      &__list {
        gap: 10px;
      }
    }
  }

  .collections {
    .collection-button {
      width: 120px;
    }
  }

  .about {
    &__wrap {
      width: 100%;
      margin-right: 0px;
      margin-left: 0px;
    }
  }

  .persons {
    .slick-list {
      padding: 0 10% 0 0 !important;
      padding-left: 20px !important;
    }
  }
}

@media screen and (max-width: 365px) {
  .top {
    .personal-card {
      &__profession {
        font-size: 11px;
      }
      .person {
        &__nikname {
          font-size: 10px;
        }
      }
      > div:first-child {
        margin-right: 10px;
      }

      &__button {
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .navigation {
    &__list {
      margin: 10px auto;
      display: block;
    }
    &__item {
      margin-right: 0px;
      margin-bottom: 10px;
    }
    &__item:last-child {
      margin-bottom: 0px;
    }

    &__link {
      font-size: 15px;
    }
  }

  .hero {
    .personal-card {
      top: -130px;
      clip-path: polygon(16% 0%, 70% 0%, 100% 0, 100% 100%, 0 100%, 0 25%);
      &::after {
        background: none;
        border: 2px solid #76767630;
      }

      &__profession {
        font-size: 15px;
      }

      .person {
        &__nikname {
          font-size: 11px;
        }
      }

      .price {
        &__eth {
          font-size: 8px;
        }

        &__dollar {
          font-size: 9px;
        }
      }

      &__button {
        font-size: 12px;
      }
    }

    &__button {
      padding: 9px 15px 11px;
      img {
        width: 17px;
        margin-left: 5px;
      }
    }

    &__personal-card {
      max-width: 100%;
      padding: 27.64px 15px 17.69px 15px;
      // display: grid;
      // justify-content: center;
      clip-path: polygon(26% 0%, 70% 0%, 100% 0, 100% 100%, 0 100%, 0 25%);
    }
    .partners {
      &__list {
        gap: 20px;
      }

      &__item {
        max-width: 40%;
      }

      img {
        width: 100%;
      }
    }
  }

  .top {
    .slick-list {
      padding-left: 10px !important;
    }

    .slick-slide {
      margin-right: 20px;
    }
    .personal-card {
      padding: 24.87px 6px 18px;
      > div {
        // max-width: 100%;
        // justify-content: center;
        // display: grid;
      }
    }

    &__wrap {
      // margin: 180px 0% 0px 7.5%;
    }
  }

  .about {
    .section-title {
      font-size: 18px;
    }
  }

  .subscribe {
    &__image {
      height: 280px;
    }
  }
}

@media screen and (max-width: 300px) {
  .hero {
    &__personal-card {
      display: grid;
      justify-content: center;
    }

    .statistic {
      &__title {
        font-size: 15px;
      }
    }

    .partners {
      &__list {
        // justify-content: center;
      }
    }
  }

  .top {
    .personal-card {
      justify-content: center !important;
    }
  }

  .collections {
    &__list {
      // column-count: 1;
      display: block;
    }

    &__item {
      &:nth-child(odd) {
        margin-right: 0px;
      }
    }

    .collection-button {
      width: 100%;
    }
  }

  .persons {
    .stats {
      &__list {
        flex-wrap: wrap;
      }

      &__item {
        margin-right: 3px;
      }

      &__number {
        font-size: 12px;
      }

      &__text {
        font-size: 8px;
      }
    }

    &__button {
      max-width: 100px;
    }
  }

  .subscribe {
    form {
      flex-wrap: wrap;
      gap: 10px;
    }

    .section-title {
      font-size: 20px;
    }

    &__input {
      // width: 60%;
    }

    &__button {
      // padding: 7px 10px;
      margin-left: 0px;
    }
  }

  .footer {
    .accordion {
      &__item {
        padding: 10px 0px 0px;

        &:first-child {
          padding: 0px;
        }
      }
    }
  }
}
